footer {
  width: 1440px;
  padding: 0px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.301);
}

footer li {
  display: list-item;
  text-align: -webkit-match-parent;
  white-space: nowrap;
}

.footer-menu {
  padding: 75px 0px 60px 0px;
  height: 381px;
}

.footer-sub-menu {
  margin-top: 30px;
}
.foot-1depth a {
  font-weight: 600;
  color: black;
  font-size: 20px;
}

.foot-depth2 {
  display: block;
}
.last-link li,
.footer-sub-menu .foot-depth2 > li {
  width: 100%;
}

.footer-menu .foot-1depth > li ul.foot-depth2 > li > a {
  display: inline-block;
  width: 90%;
  height: 20px;
  margin-bottom: 15px;
  letter-spacing: -0.25px;
  color: #666;
  font-size: 15px;
}
.last-link li > a {
  font-size: 18px;
}
.last-link li {
  margin-bottom: 25px;
}

.foot-1depth > li {
  float: left;
  width: 12%;
  word-break: keep-all;
}

.foot-1depth > li.intro-link {
  width: 17%;
}
.foot-1depth > li.last-link {
  float: right;
  width: 11%;
}

.footer-menu .foot-1depth:after {
  clear: both;
  display: block;
  overflow: hidden;
  content: "";
  height: 0;
}

/* 링크박스 */

.link-box-area {
  border-top: 1px solid rgba(0, 0, 0, 0.301);
  padding: 55px 0px;
}
.link-box-area:after {
  clear: both;
  display: block;
  overflow: hidden;
  content: "";
  height: 0;
}

.link-box {
  width: 25%;
  float: left;
}
.link-box-area .link-box:first-child div {
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}

.link-box-area .link-box:nth-child(2) div {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 233px;
  height: 48px;
  font-size: 16px;
  color: #000;
  margin-bottom: 25px;
  border-bottom: 2px solid black;
}
.link-box-area .link-box:nth-child(3) strong {
  font-weight: bold;
  color: #000;
  display: list-item;
}
.link-box-area .link-box:nth-child(3) li {
  margin-top: 15px;
  font-size: 16px;
  width: 90%;
}

.link-box-area .link-box:last-child ul {
  display: flex;
}

.link-box-area .link-box:last-child li {
  margin-right: 25px;
  margin-bottom: 20px;
}
.link-box-area .link-box:last-child img {
  width: 33px;
  height: 33px;
}
.link-box-area .link-box:last-child div,
.link-box-area .link-box:last-child span {
  display: block;
  height: 60px;
  font-size: 15px;
  line-height: 30px;
}
