footer {
  border-top: 1px solid rgb(59, 59, 59);
}

footer li {
  float: none;
}
.footer-menu {
  padding: 75px 0px 60px 0px;
}

.foot-1depth {
  display: flex;
  width: 1440px;
}

.footer-sub-menu {
  margin-top: 30px;
}
.foot-1depth a {
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.footer-sub-menu li {
  margin-bottom: 15px;
}
.footer-sub-menu a {
  font-size: 15px;
  font-weight: normal;
  color: #666666;
  word-break: keep-all;
}

.last-link li {
  margin-bottom: 25px;
}

.foot-1depth li {
  width: 180px;
  height: 23px;
}

.last-link {
  margin-left: 60px;
}
