footer {
  border-top: 1px solid rgb(59, 59, 59);
}

footer li {
  float: none;
}
.footer-wrap {
  margin-bottom: 100px;
}

.footer-menu {
  padding: 75px 0px 60px 0px;
}

.foot-1depth {
  display: flex;
  width: 1440px;
}

.footer-sub-menu {
  margin-top: 30px;
}
.foot-1depth a {
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.footer-sub-menu li {
  margin-bottom: 15px;
}
.footer-sub-menu a {
  font-size: 15px;
  font-weight: normal;
  color: #666666;
  word-break: keep-all;
}

.last-link li {
  margin-bottom: 25px;
}

.foot-1depth li {
  width: 180px;
  height: 23px;
}

.last-link {
  margin-left: 60px;
}

.link-box-area {
  display: flex;
  margin-top: 400px;
  border-top: 1px solid rgba(0, 0, 0, 0.301);
}

.link-box {
  margin-top: 55px;
  width: 25%;
}
.link-box-area .link-box:first-child div {
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}

.link-box-area .link-box:nth-child(2) div {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 233px;
  height: 48px;
  font-size: 16px;
  color: #000;
  margin-bottom: 25px;
  border-bottom: 2px solid black;
}
.link-box-area .link-box:nth-child(3) strong {
  font-weight: bold;
  color: #000;
}
.link-box-area .link-box:nth-child(3) li {
  margin-top: 20px;
  font-size: 16px;
}

.link-box-area .link-box:last-child ul {
  display: flex;
}

.link-box-area .link-box:last-child li {
  margin-right: 25px;
  margin-bottom: 20px;
}
.link-box-area .link-box:last-child img {
  width: 33px;
  height: 33px;
}
.link-box-area .link-box:last-child div,
.link-box-area .link-box:last-child span {
  display: block;
  height: 60px;
  font-size: 15px;
  line-height: 30px;
}
