header .util {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.util li {
  border-top: 3px solid black;
  margin-right: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.sns-btn li {
  border-style: none;
}

.gnb {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
}

.logo {
  flex: 1;
}
.nav {
  flex: 4;
}

.nav li {
  font-size: 20px;
  font-weight: 800;
  color: black;
  margin-right: 25px;
}

.r-link-list {
  font-weight: 700;
  font-size: 14px;
}

.r-link-list ul {
  display: flex;
  align-items: center;
}

.r-link-list li {
  margin-right: 10px;
}
.main-section-3 {
  margin-top: 50px;
}
.notice-area {
  display: flex;
  width: 1440px;
  height: 124px;
  border: solid black;
  border-width: 2px 0px;
}

.notice-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.notice-cont {
  display: flex;
  align-items: center;
  width: 1050px;
}

.notice-cont :first-child {
  margin: 0px 25px;
  font-size: 18px;
}

.notice-cont :last-child {
  font-size: 25px;
  color: black;
  font-weight: 600;
}
.notice-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice-pagination a {
  margin-right: 20px;
}
