.main-container {
  margin-top: 35px;
}
.main-section-1 {
  display: flex;
}

.main-info-area {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 3px solid black;
  height: 100px;
  width: 1140px;
}

.info {
  margin-bottom: 15px;
  align-items: center;
}

.admission,
.info {
  display: flex;
  height: 30px;
  align-items: center;
}

.main-info-area strong {
  margin-right: 15px;
  color: black;
}
.info-tit {
  font-weight: 1000;
  font-size: 24px;
}
.info-txt span {
  margin-right: 15px;
}
.info-txt {
  font-weight: 700;
  font-size: 18px;
}

.info-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 133px;
  padding-top: 20px;
}

.btn-over {
  border-bottom: 3px solid #3f0b9f;
  height: 130px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 1000;
  color: #3f0b9f;
  padding-bottom: 23px;
}

.main-section-2 {
  margin-top: 40px;
}

.main-cont-tit {
  display: flex;
  justify-content: space-between;
  width: 1440px;
}

.main-cont-tit :first-child {
  font-size: 50px;
  font-weight: 1000;
  color: black;
}
.controller a {
  margin-left: 6px;
}

.main-cont-container {
  margin-top: 20px;
  display: flex;
}
.main-cont-container-column {
  width: 315px;
  margin-right: 60px;
}
.date,
.container-img-info a {
  display: block;
}

.container-img-label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  padding: 5px 15px;
  min-width: 60px;
  height: 30px;
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 700;
  box-sizing: border-box;
}
.black {
  background-color: black;
  color: white;
}
.black-2 {
  color: black;
}

.date {
  opacity: 0.8;
}
.container-img-info a {
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
  font-size: 15px;
}

.main-section-4 {
  margin-top: 70px;
  margin-bottom: 80px;
  display: flex;
}
.main-section-4-tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-section-4-tit h2 {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.edu-content {
  width: 374px;
  height: 517px;
}

.pagination-area :last-child {
  margin-left: 30px;
}

.section-4-swiper-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.edu-swipe-img img {
  width: 374px;
}

.main-section-4-swiper-txt {
  margin-top: 30px;
}
.main-section-4-swiper-txt div {
  margin: 20px 0px;
}

.main-section-4-swiper-txt a {
  font-size: 24px;
  color: black;
  font-weight: 600;
}
.main-section-4-swiper-txt :nth-child(2) {
  opacity: 0.8;
  font-size: 18px;
}

.edu-swipe-txt :last-child {
  display: inline-block;
  height: 30px;
  font-weight: 600;
  color: rgb(119, 42, 192);
  border-bottom: 1px solid;
  font-size: 18px;
}

.event-content {
  margin-left: 50px;
  width: 295px;
  height: 407px;
}
.event-swipe-img img {
  width: 295px;
}

.online-content {
  margin-left: 50px;
  width: 670px;
  height: 478px;
}
.onlie-swipe-img {
  display: flex;
  justify-content: center;
  width: 670px;
  background-color: #fafafa;
}
.onlie-swipe-img img {
  width: 480px;
  height: 360px;
}
