.main-container {
  margin-top: 35px;
}
.main-section-1 {
  display: flex;
}

.main-info-area {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 3px solid black;
  height: 100px;
  width: 1140px;
}

.info {
  margin-bottom: 15px;
  align-items: center;
}

.admission,
.info {
  display: flex;
  height: 30px;
  align-items: center;
}

.main-info-area strong {
  margin-right: 15px;
  color: black;
}
.info-tit {
  font-weight: 1000;
  font-size: 24px;
}
.info-txt span {
  margin-right: 15px;
}
.info-txt {
  font-weight: 700;
  font-size: 18px;
}

.info-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 133px;
  padding-top: 20px;
}

.btn-over {
  border-bottom: 3px solid #3f0b9f;
  height: 130px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 1000;
  color: #3f0b9f;
  padding-bottom: 23px;
}

.main-section-2 {
  margin-top: 40px;
}

.main-cont-tit {
  display: flex;
  justify-content: space-between;
  width: 1440px;
}

.main-cont-tit :first-child {
  font-size: 50px;
  font-weight: 1000;
  color: black;
}
.controller a {
  margin-left: 6px;
}

.main-cont-container {
  margin-top: 20px;
  display: flex;
}
.main-cont-container-column {
  width: 315px;
  margin-right: 60px;
}
.date,
.container-img-info a {
  display: block;
}

.container-img-label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  padding: 5px 15px;
  min-width: 60px;
  height: 30px;
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 700;
  box-sizing: border-box;
}
.black {
  background-color: black;
  color: white;
}
.black-2 {
  color: black;
}

.date {
  opacity: 0.8;
}
.container-img-info a {
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
  font-size: 15px;
}
